body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero {
    height: 100vh;
    background-image: url("Fotky/hero.jpeg");
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    text-align: center;
}

.hero h1 {
    font-size: 60px;
    margin: 0;
}

.hero p {
    font-size: 24px;
}

.music-btn {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.85);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    overflow: hidden;
}

.music-btn:hover .music {
    opacity: 0;
    transform: scale(0.6);
}

.music-btn:hover .heart {
    opacity: 1;
    transform: scale(1);
}

.icon {
    position: absolute;
    font-size: 26px;
    transition: 0.3s ease;
}

.music {
    opacity: 1;
    transform: scale(1);
}

.heart {
    opacity: 0;
    transform: scale(0.6);
}

.floating-heart {
    position: fixed;
    color: white;
    pointer-events: none;
    z-index: 9999;
    opacity: 0.9;
}



@keyframes floatV {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(var(--x), var(--y)) scale(1.4);
        opacity: 0;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }

    100% {
        transform: translateY(-200px) scale(1.5);
        opacity: 0;
    }
}